.app {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100vh;
}

.mapWrapper {
    flex-grow: 1;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;
}

.popup {
    padding: 4px;

    display: flex;
    flex-direction: column;
    gap: 4px;
}